.popup {
    position: fixed;
    width: 100%;
    margin: auto;
    max-width: 530px;

    &-list {
        display: none;
    }

    & .list-dotted__value,
    & .list-dotted__name {
        max-width: initial;
    }

    &__head {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 32px;
    }

    &__inner {
        background: #f2f2f2;
        padding: 100px 40px 90px;
    }

    &__close {
        position: absolute;
        right: 30px;
        top: 30px;
        background: transparent;
        opacity: 1;
        cursor: pointer;
        z-index: 100;
        width: 20px;
        height: 20px;

        &:hover {
            opacity: 0.9;
            &:before,
            &:after {
                opacity: 0.7;
            }
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            height: 18px;
            width: 2px;
            background-color: #000;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }

    &__title {
        font-family: "GP";
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        color: #000;
    }

    &__text {
        font-weight: normal;
        font-size: 16px;
        line-height: 25px;
        color: #000;
        margin-top: 10px;
    }

    &__btn {
        text-align: center;
        display: inline-block;
        margin-left: 20px;

        &.copied {
            background: #0d95e8;
            cursor: not-allowed;

            &:hover {
                color: #fff;
            }
        }

        &:first-child {
            margin-left: 0;
        }

        &-wrap {
            text-align: center;

            &-m-t {
                margin-top: 30px;
            }
        }
    }

    &__result {
        max-width: 530px;
    }

    &__dealer-data {
        max-width: 830px;
        display: none;
    }
}
